<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <title th:text="#{student.edit.title}"></title>
</head>
<body>
<form method="post" th:action="@{'/student/' + ${student.id} + '/modify'}">
    <label th:text="#{student.name}"></label>
    <input type="text" name="name" th:value="${student.name}" /><br />

    <label th:text="#{student.email}"></label>
    <input type="text" name="email" th:value="${student.email}" /><br />

    <label th:text="#{student.score}"></label>
    <input type="text" name="score" th:value="${student.score}" /><br />

    <label th:text="#{student.comment}"></label>
    <textarea name="comment" rows="10" cols="80" th:text="${student.comment}"></textarea><br />

    <br />
    <input type="submit" />
</form>
</body>
</html>
