<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Add your head content here -->
</head>
<body>

<h1><strong>간의 ShoppingMall</strong></h1>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/index/1/0}">
                            뷰티
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/index/2/0}">
                            문구/오피스
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/index/3/0}">
                            식품
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/index/4/0}">
                            크리스마스
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div th:each="product : ${productList}">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img th:src="${product.productImage}" alt="File Image" width="100%" height="100%" />
                            <div class="card-body">
                                <p class="card-text" th:text="${product.productName}"></p>

                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a th:href="@{'/product/detail/' + ${product.productId}}" class="btn btn-sm btn-outline-secondary">View</a>
                                    </div>
                                    <small class="text-muted" th:text="${product.registerDate}"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<th:block th:if="${currentPage > 1}">
    <a th:href="@{'/index/' + ${index} + '/' + ${currentPage - 1}}">Previous</a>
</th:block>

<table>
    <tr>
        <th:block th:each="i : ${#numbers.sequence(1, noOfPages)}">
            <td th:if="${currentPage == i}" th:text="${i}"></td>
            <td th:unless="${currentPage == i}">
                <a th:href="@{'/index/' + ${index} + '/' + ${i}}" th:text="${i}"></a>
            </td>
        </th:block>
    </tr>
</table>

<th:block th:if="${currentPage < noOfPages}">
    <a th:href="@{'/index/' + ${index} + '/' + ${currentPage + 1}}">Next</a>
</th:block>

</body>
</html>
